html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Global */

.secondary {
    color: #41464b;
    background-color: #e2e3e5;
}

.success {
    color: #0f5132;
    background-color: #d1e7dd;
}

.danger {
    color: #842029;
    background-color: #f8d7da;
}

.warning {
    color: #664d03;
    background-color: #fff3cd;
}

.chip {
    display: inline;
    text-align: center;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.flex-image {
    width: 385px;
    height: auto;
    max-height: 450px;
    flex-grow: 0;
    flex-shrink: 0;
}

/* User - Detail */

.userLogo {
    width: 15%;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

#previewContainer img
{
    border-radius:10px;
    transition:transform 0.2s;

}

#previewContainer img:hover 
{
    transform: scale(1.1);
}